.top-search {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 120px;
    background-color: var(--main-color);
    border-radius: 8px;
}

.top-search__column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.top-search__column--city {
    width: clamp(278px, 38%, 467px);
    position: relative;
    z-index: 1;
}

.top-search__column--data {
    width: clamp(249px, 21%, 259px);
    position: relative;
    z-index: 10;
}

.top-search__column--guests {
    width: clamp(294px, 25.5%, 314px);
}

.top-search__column--button {
    width: 15.5%;
}

.top-search--small {
    display: none;
}

.top-search__field {
    padding-top: 22px;
    padding-bottom: 21px;
    padding-inline-start: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: var(--text);
    border: none;
}

.top-search__label {
    padding: 0 0 24px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: var(--main-color);
}

.top-search__field--city {
    border-radius: 8px;
}

.top-search__field--city:focus-visible {
    outline: none;
    padding-top: 19px;
    padding-bottom: 18px;
    border: var(--accent-first) solid 3px;
}

.top-search__label--city {
    position: absolute;
    top: -45px;
    left: 0;
    z-index: 2;
}

.top-search__label--data {
    position: absolute;
    top: -45px;
    left: 0;
    z-index: 11;
}

.top-search__field--data {
    padding-top: 20px;
    padding-bottom: 21px;
    border: var(--border-form) solid 1px;
    border-radius: 8px;
}

.top-search__field--guests {
    border-radius: 8px;
}

.top-search__field--guests:hover {
    padding-top: 19px;
    padding-bottom: 18px;
    border: var(--accent-first) solid 3px;
}

.top-search__button {
    outline: 0;
    border: none;
    height: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 8px;
    background-color: var(--accent-second);
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: var(--main-color);
    box-shadow: 2px 0 0 var(--accent-second);
    text-align: center;
}

@media (max-width: 1024px) {
    /*for mobile tablets*/

    .top-search--large {
        display: none;
    }
}
