.container {
    max-width: 1264px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

.top-container {
    margin-top: 196px;
    padding-bottom: 120px;
}

@media (max-width: 1024px) {
    /*for mobile tablets*/
    .top-container {
        margin-top: 60px;
        padding-bottom: 60px;
    }
}

@media (max-width: 768px) {
    /*for mobile phones*/
    .top-container {
        margin-top: 40px;
        padding-bottom: 40px;
    }
}
