:root {
    --main-color: #ffffff;
    --second-color: #10367c;
    --accent-first: #f5bd41;
    --accent-second: #3077c6;
    --accent-text: #bfbfbf;
    --text: #383838;
    --background: #eaf0f9;
    --background-second: #f3f3f4;
    --border: #333333;
    --border-form: #cecece;
}
