* {
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
}

@media (max-width: 768px) {
    /*for mobile phones*/
    .title {
        font-size: 28px;
        line-height: 33px;
    }
}
