.homes__title {
    padding-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 105px;
}

@media (max-width: 768px) {
    /*for mobile phones*/
    .homes__title {
        padding-top: 40px;
        margin: 0 auto 32px;
    }
}
