.homes__title {
    padding-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 105px;
}

.services__title {
    padding-top: 120px;
    margin: 0 auto 104px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 306px;
    position: relative;
    z-index: 5;
}

.services__title::after {
    display: block;
    content: '';
    width: 100px;
    height: 4px;
    background-color: var(--accent-first);
    position: absolute;
    bottom: calc(0px - 20px - 4px / 2);
    right: calc(50% - 100px / 2);
    z-index: 6;
}

.hotel-page__title {
        padding-top: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 110px;

}

@media (max-width: 768px) {
    /*for mobile phones*/
    .homes__title {
        padding-top: 40px;
        margin: 0 auto 32px;
    }

    .services__title {
        padding-top: 24px;
        padding-bottom: 32px;
        margin: 0 auto;
    }

    .services__title::after {
        display: none;
    }

    .hotel-page__title {
        padding-top: 40px;
        margin: 0 auto 32px;
    }
}
