.top {
    min-height: 100vh;
    background-image: url(./../../images/castelmezzano.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.top-search_form {
    position: relative;
    z-index: 25;
}
