.top-search__guests-filter {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: var(--main-color);
    width: clamp(249px, 21%, 259px);
    padding: 22px 22px 10px 22px;
    border-radius: 8px;
    z-index: 26;
    position: absolute;
    right: 15.5%;
    top: 76px;
}

.top-search__guest-filter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.disabled {
    display: none;
}

.top-search__label-filter {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--border);
    flex-grow: 1;
}

.btn-minus {
    width: 30px;
    aspect-ratio: 1 / 1;
    outline: 0;
    border: 1px solid var(--accent-second);
    background-color: var(--main-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.top-search__guest-input {
    border: none;
    width: clamp(46px, 21%, 48px);
    text-align: center;
}

.btn-plus {
    width: 30px;
    aspect-ratio: 1 / 1;
    outline: 0;
    border: 1px solid var(--accent-second);
    background-color: var(--main-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.btn-disabled {
    border: 1px solid var(--border-form);
}

.top-search__children {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    margin-left: -3px;
    gap: 12px;
}

.top-search__children-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: left;
}

.top-search__children-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
}

.top-search__children-option {
    max-width: 99px;
    padding: 6px 6px 6px 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: left;
    border-color: var(--accent-second);
}
