.hotels__pictures {
    margin-right: -8px;
    margin-left: -8px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;
    padding-bottom: 120px;
    text-decoration: none;
    position: relative;
    z-index: 7;
}

.hotels__pictures::before {
    display: block;
    content: '';
    width: 40px;
    aspect-ratio: 1/1;
    background-color: var(--background-second);
    border-radius: 50%;
    box-shadow: 0 4px 4px 0 #00000040;
    position: absolute;
    right: 8px;
    top: calc((100% - 259px) / 2);
    transform: translate(50%, -50%);
    z-index: 8;
}

.hotels__pictures::after {
    display: block;
    content: '';
    width: 8px;
    height: 18px;
    background-size: cover;
    background: url(../../images/arrow.svg) no-repeat center;
    position: absolute;
    right: 8px;
    top: calc((100% - 259px) / 2);
    transform: translate(50%, -50%);
    z-index: 9;
}

.hotels__picture {
    padding-left: 8px;
    padding-right: 8px;
    object-position: center;
    text-decoration: none;
}

.hotels__images {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: fill;
}

.hotels__name {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: var(--accent-second);
    padding-top: 22px;
    padding-bottom: 26px;
    text-decoration: none;
}

.hotels__location {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: var(--accent-text);
    text-decoration: none;
}

@media (max-width: 768px) {
    /*for mobile phones*/
    .hotels__pictures {
        padding-bottom: 40px;
    }

    .hotels__pictures::before {
        width: 28px;
        box-shadow: none;
        right: -4px;
        top: calc((100% - 94px) / 2);
        transform: translate(0, -50%);
    }

    .hotels__pictures::after {
        width: 5px;
        height: 13px;
        right: 8px;
        bottom: unset;
        top: calc((100% - 94px) / 2);
    }

    .hotels__name {
        font-size: 12px;
        line-height: 14px;
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .hotels__location {
        font-size: 12px;
        line-height: 14px;
    }
}
